<div class="container">
  <ol class="breadcrumb">
    <li><a routerLink="">Back to Character List</a></li>
    <!-- <li><a routerLink="">Next Character</a></li>
    <li><a routerLink="">Previous Character</a></li> -->
  </ol>
  <div class='panel panel-default'>
    <div class="panel-heading">
      <h4 class="panel-title">{{(characterToDisplay | async)?.name}} Character Detail</h4>
    </div>
    <div class="panel-body">
      <img class="profilePhoto" src="{{(characterToDisplay | async)?.image}}" alt="{{(characterToDisplay | async)?.name}}">
      <div class="text">
        <p>{{(characterToDisplay | async)?.tagLine}}</p>
        <p>{{(characterToDisplay | async)?.description}}</p>
        <p>Hero or Villian: <strong>{{(characterToDisplay | async)?.category}}</strong></p>
        <p>Species: <strong>{{(characterToDisplay | async)?.species}}</strong></p>
        <p>Gender: <strong>{{(characterToDisplay | async)?.gender}}</strong></p>
      </div>
    </div>
  </div>
</div>
