<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About The Kingkiller Chronicle</h3>
  </div>
  <div class="panel-body">
    <h4>The Author</h4>
    <hr>
    <p><strong>Patrick Rothfuss</strong> is the author of the fantasy series The Kingkiller Chrinicle. He was born and raised in Madison, Wisconsin, and has worked as a college lecturer.</p>
  </div>
  <hr>
  <div class="panel-body">
    <h4>Plot</h4>
    <hr>
    <p>The Kingkiller Chronicle is presented as the autobiography of Kvothe, an adventurer and famous musician, legendary throughout the Four Corners of Civilization. The plot is divided into two different action threads:</p>
    <ol>
      <li>The frame story, where Kote tells the story of his life to Chronicler in the Waystone Inn.</li>
      <li>The narration, which comprises the story of Kote's past as Kvothe and makes up the majority of the books.</li>
    </ol>
    <p>The series alternates between the third and first person perspective. The present-day interludes are in the third person from the perspective of multiple characters, while the story of Kvothe's life is told entirely in the first person from his own perspective.</p>
    <p>The series also contains many metafictional stories-within-stories from varying perspectives, most of which are recounted by Kvothe, and presented as having been heard from other characters in his past.</p>
  </div>
  <hr>
  <div class="panel-body">
    <h4>The Series</h4>
    <hr>
    <div class="flexed">
      <div>
        <img src="assets/img/name-of-the-wind.jpg" alt="The Name of the Wind book cover">
        <p><strong>Name of the Wind</strong>, released in 2007.</p>
      </div>
      <div>
        <img src="assets/img/wise-mans-fear.jpg" alt="The Name of the Wind book cover">
        <p><strong>The Wise Man's Fear</strong>, released in 2011.</p>
      </div>
      <div>
        <img src="assets/img/doors-of-stone.jpg" alt="The Name of the Wind book cover">
        <p><strong>The Doors of Stone</strong>, not yet released.</p>
      </div>
    </div>
  </div>
</div>
</div>
