<div class="container">
  <ol class="breadcrumb">
    <li><a routerLink="">Back to Character List</a></li>
  </ol>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Character</h3>
    </div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="name">Character Name:</label>
          <br>
          <input class="form-control" type="text" #name>
        </div>
        <div class="form-group">
          <label for="tagLine">Tag Line:</label>
          <br>
          <input class="form-control" type="text" #tagLine>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <br>
          <textarea rows="4" class="form-control" type="text" #description></textarea>
        </div>

        <div class="form-group">
          <label for="exampleSelect1">Category: </label>
          <select class="form-control" #category>
            <option value="Hero">Hero</option>
            <option value="Villian">Villian</option>
            <option value="Neutral">Neutral</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleSelect1">Species: </label>
          <select class="form-control" #species>
            <option value="Human">Human</option>
            <option value="Fae">Fae</option>
            <option value="Unknown">Unknown</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleSelect1">Gender: </label>
          <select class="form-control" #gender>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <button class="btn btn-success" type="button" (click)="submitNewCharacter(description.value, name.value, tagLine.value, category.value, species.value, gender.value); name.value=''; tagLine.value=''; category.value=''; description.value=''; species.value=''; gender.value=''">Add Character</button>
      </form>
    </div>
  </div>
</div>
