@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
body {
  background: lighten(lightgrey, 10%) !important;
}
.navbar.navbar-default {
  margin-bottom: 0px;
}
.phone-nav {
  position: absolute;
  top: 5px;
  list-style: none;
  right: 25px;
}
.navbar-default a.navbar-brand {
  font-family: 'IM Fell English SC', serif;
  font-size: 1.4em;
}
.flexed {
  display: flex;
  justify-content: space-around;
  text-align: center;
  img {
    height: 220px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}
.profilePhoto {
  width: 180px;
  display: block;
  float: left;
  margin-right: 20px;
  height: 180px;
  object-fit: cover;
}
.footer {
  // max-width: 1170px;
  margin-top: 40px;
  background: #37474F;
  color: white;
  padding: 20px 35px 25px 35px;
  text-align: center;
}
.row.footer {
  // margin-left: auto;
  // margin-right: auto;
}
.footer h3 {
  font-weight: lighter;
  font-size: 1.3em;
}
.footer button {
  padding: 10px 15px;
  text-transform: uppercase;
  border: 1px solid lighten(#37474F, 20%);
  background: lighten(#37474F, 20%);
}
