.phone-nav {
  position: absolute;
  top: 5px;
  list-style: none;
  right: 25px;
}
.flexed {
  display: flex;
  justify-content: space-around;
  text-align: center;
  img {
    height: 220px;
    object-fit: cover;
    margin-bottom: 10px;
  }
}
