<div class="container">
  <div class="form-group">
    <label>Sort By:</label>
    <select class="form-control" (change)="onChange($event.target.value)">
      <option value="allCharacters">All Characters</option>
      <option value="femaleCharacters">Female Characters</option>
      <option value="maleCharacters">Male Characters</option>
      <option value="humanCharacters">Human Characters</option>
      <option value="faeCharacters">Fae Characters</option>
    </select>
  </div>
  <div class="panel-container">
    <div class='panel panel-default' *ngFor="let character of characters | async | filter:selectedCategory" (click)="toCharacterDetail(character)">
      <div class="panel-heading">
        <h4 class="panel-title">{{character.name}}</h4>
      </div>
      <div class="panel-body">
        <img class="profilePhoto" src="{{character.image}}" alt="{{character.name}}">
        <div class="text">
          <p>{{character.tagLine}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
